 
 body{
	background-color:#e0e0d1;
 }
 

 
 . {
	position: fixed;
 
 }
 
 #title{
	font-size: 25px;
	margin-left: 700px;
 }
 
 #search{
 }
 html, body{
 	height: 100%;
 }
.block{
	width: 46%;
	height: 70%;
	display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	text-align: left;
	padding: 1%;

}
.block p{
	background-color:red;
	border-radius: 5px;
}

.box{
	display: inline-block;
}




#AS{
	background-color: #c6e2ff;
	margin-top: 10px;
	margin-right: 0px;
	float: left;
}
#GP{
	background-color: #ccff66;
	margin-top: 10px;
	margin-left: 0px;
	float: right;
	
}


