<a href= "/">Main page</a>
<% content_for :title, "I am the greatest programmer" %>
<h2>All apps</h2>
<h4>Click app name for more info</h4>

<p>
	<%= link_to "Add new app", :action => :new %>
	</br>
	<% @apps.each do |app| %>
	</br></br><a href= "/apps/<%= app.id %>/"> <%= app.name %> </a> 
	<% end %>
	
	
</p>


