<%= link_to "Add new app", :action => :new %>
<h2>Listing all apps</h2>
<h4>Click app name for more info</h4>
<% @apps.each do |app| %>
<p>
	<a href= "<%= app.id %>/"> <%= app.name %> </a>
	
	
</p>
<% end %>
